@import 'reset';

@import 'summary_view';
@import 'char_banner';
@import 'ability_set';
@import 'proficiencies';

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}